<div class="container">
    <header class="row">
<div class="col-md-12" style="margin-top: 10px">
            <div id="carouselHomer" class="carousel slide carousel-fade" data-interval="10000" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../images/gc1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../images/gc2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../images/gc3.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../images/gc4.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../images/gc5.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="../images/gc6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <router-outlet></router-outlet>
</div>
<app-error></app-error>

