<div class="col-md-12">
<h2 id="scoreDisplay_h2">Score table for {{userFirstName}}</h2>
<br>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="populate-table">
            <table id="scoreTableDisplay" class="table table-bordered table-responsive table-condensed">
                <tr>
                    <th>Date Played</th>
                    <th>Course</th>
                    <th>Score</th>
                    <th>Slope</th>
                    <th>Rating</th>
                </tr>
                <tr *ngFor="let score of scoreTableMarked" [style.background-color]="getStyleBG(score.used)" [style.color]="getStyleColor(score.used)">
                    <td>{{ score.date_played }}</td>
                    <td>{{ score.course }}</td>
                    <td>{{ score.score }}</td>
                    <td>{{ score.slope }}</td>                    
                    <td>{{ score.rating }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>